{% block modalHelp %}
    <div class="modal_bg" id="modal-help">
        <div class="dialog_window_publication_bids_list">
            <div class="dialog_window_publication_bids_list-head">
                <span class="title">
                    Допомога
                </span>
                <div class="dialog_window_publication_bids_list-body">


                  {# сюда добавляем информацию #}


                </div>
            </div>
            <div class="dialog_window_publication_bids_list-footer">
                <div class="control_bttons">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect  btn-cancel">Закрити</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modalHelp%}